<section>
    <h1>{{title}}</h1>
    <p> This website's main purpose is to check whether or not a string is a palindrome. In case you do not know,
        a palindrome is a string of many sentences, or one word that is equivalently spelled either forwards or backwards.
        For example, "racecar" is a palindrome; but "website" is not. </p>
    <form action="/result" method="POST">
        <label for="palidrome_input">Enter a word or sentence to be tested</label>
        <input type="text" name="text-to-test" id="palidrome_input"><br>
        <button type="submit"> Submit! </button>
    </form>
</section>